---
import { UPLOADS_URL, getCategories, getCategoryProducts } from "../services/ecommerce";

interface Props {
  objectFit?: string;
}

const { objectFit } = Astro.props;

const categories = await getCategories();

categories.forEach((category:any) => {
  category.totalProducts = categoryProductsCount(category.slug);
});

async function categoryProductsCount(categorySlug:string){
  const catProducts = (await getCategoryProducts(categorySlug)) || []
  return catProducts.length;
}
---

<div class="category-grid">
  {
    categories.length > 0 ? categories.map((category: any) => (
      <a
        href={'/' + category.slug}
        class="card with-gradient category-card hover-img-brightness hover-img-rotate"
        id={'cat-'+category.slug}
        style="background:#eee;"
      >
        <div 
        class="card-content your-element"
        >
          <picture>
            <img
              width="302"
              height="408"
              class={objectFit || "object-fit-contain"}
              alt={category.name}
              src={UPLOADS_URL + category.images[0]?.file}
            />
          </picture>
          <div class="card-body">
            <h4 class="card-title text-align-center">{category.name}</h4>
            <span class="card-subtitle text-align-center color-white text-sm font-weight-semibold mb-0">
              Ver {category.totalProducts} productos &gt;
            </span>
          </div>
        </div>
      </a>
    ))
    :
    <div class="flex flex-col items-start justify-center h-full">
      <p class="my-2">
        No hay categorías de producto, visita el panel de administrador para añadir categorías de producto.
      </p>
      <a href="http://localhost:3501/admin/product-categories" target="_blank" class="font-weight-bold text-white p-3 px-6 bg-zinc-950 mt-5">
        Añadir categorías de producto
      </a>
    </div>
  }
</div>

<script>
  import VanillaTilt from 'vanilla-tilt';
  
  function initTilt(){
    const els = document.querySelectorAll(".your-element");

    els.forEach(el => {
      const tilt = new VanillaTilt(el as any, {
        max: 10,
        speed: 500,
        perspective: 800,
        scale: 1.05,
      });
      
    });

  }

  document.addEventListener("DOMContentLoaded", initTilt);

  document.addEventListener('astro:after-swap', (e) => {
    initTilt();
  })
</script>

<style>
  .card-content {
    width: 100%;
  }
</style>
