---
---
<div class="flex gallery-item">
          
    <img
      alt="Imagen del producto"
      class="product-image"
      src="https://old.elsolartesania.com/wp-content/uploads/sites/4/2023/09/AntifazMandalasColores2.webp"
    />
  </div>

  <div class="flex gallery-item">
    <img alt=""
      class="product-image"
      src="https://old.elsolartesania.com/wp-content/uploads/sites/4/2023/09/AntifazMandalasColores.jpg"
    />
  </div>

  <div class="flex gallery-item">
    <img alt=""
      class="product-image"
      src="https://old.elsolartesania.com/wp-content/uploads/sites/4/2023/09/CoixiInterior.jpg"
    />
  </div>

<style>
.gallery-item {
  min-width: 100%;
}

</style>