---
import OrderSummary from "../../components/OrderSummary.svelte";
import Form from "../components/Form.svelte";
import Jumbotron from "../../components/Jumbotron.astro";
import FormLayout from "../../layouts/FormLayout.astro";
import Layout from "../../layouts/Layout.astro";
import SecondaryNav from "../../components/SecondaryNav.astro";
import Modal from "../../components/Modal.astro";

const identityCookieValue = Astro.cookies.get("identity")?.value;
let identity = null;

try {
  if (identityCookieValue) {
    identity = JSON.parse(identityCookieValue);
  }
} catch (error) {
  console.error("Error al analizar el valor de la cookie:", error);
  // Puedes tomar acciones adicionales aquí, según tus necesidades.
}
---

<Layout title="Finalizar compra">
  <main>
    <Jumbotron
      class="jumbotron--small bg-position-center"
      title="Detalles de mi cuenta"
      color="color-dark"
      desc="Accede para ver y guardar todos tus pedidos en un solo lugar, disfrutando de una experiencia de compra personalizada. ¡Tu conveniencia y seguridad son nuestra prioridad!"
    />

    <SecondaryNav></SecondaryNav>
    
    <div class="container">

      <div class="my-account-content">
        <div class="my-account-panel">
          <form>
            <div class="space-y-12">
              <!-- <div class="border-b border-black pb-12">
                <h2 class="text-base uppercase font-semibold leading-7 text-gray-900">Credenciales</h2>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Esta información se utilizará para iniciar sesión en tu cuenta. Por favor, asegúrate de mantenerla segura y no compartirla con nadie.
                </p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-5">
                  <div class="sm:col-span-4">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo electrónico</label>
                    <div class="mt-2">
                      <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                        <input value={identity.email} readonly type="text" name="username" id="username" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                        <Modal id="dialog1" title="Cambiar correo electrónico">
                          <button slot="open" onclick=`window.dialog1.showModal()` type="button" class="mr-1 bg-transparent px-4 py-1.5 text-sm font-semibold text-gray-700  hover:text-[#6a32b5]">
                            Editar
                          </button>
                        </Modal>
                      </div>
                    </div>
                  </div>


                  <div class="sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Nombre de usuario</label>
                    <div class="mt-2">
                      <div class="flex align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                        <input value={identity.username} readonly type="text" name="username" id="username" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                        <Modal id="dialog2" title="Cambiar nombre de usuario">
                          <button slot="open" onclick=`window.dialog2.showModal()` type="button" class="mr-1 bg-transparent px-4 py-1.5 text-sm font-semibold text-gray-700  hover:text-[#6a32b5]">
                            Editar
                          </button>

                          <div slot="modal-content" class="modal-content bg-white p-4 px-6 pt-0">
                            <div class="sm:flex">
                  
                              <div class="w-full mt-3 text-center sm:mt-0 sm:text-left">
                                <div class="flex">
                                  <div class="w-full grid gap-x-4 gap-y-4">
                                    
                                    <div class="sm:col-span-1">
                                      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                                      <div class="mt-2">
                                        <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                                          <input value={'****************'} type="password" name="password" id="password" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">                        
                                        </div>
                                      </div>
                                    </div>
                  
                                    <div class="sm:col-span-1">
                                      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                                      <div class="mt-2">
                                        <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                                          <input value={'****************'} type="password" name="password" id="password" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">                        
                                        </div>
                                      </div>
                                    </div>
                            
                                  </div>
                                </div>
                              </div>
                  
                            </div>
                          </div>
                        </Modal>
                      </div>
                    </div>
                  </div>

                  

                  <div class="sm:col-span-4">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                    <div class="mt-2">
                      <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                        <input value={'****************'} readonly type="password" name="password" id="password" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                        <Modal id="dialog3" title="Cambiar contraseña">
                          <button slot="open" onclick=`window.dialog3.showModal()` type="button" class="mr-1 bg-transparent px-4 py-1.5 text-sm font-semibold text-gray-700  hover:text-[#6a32b5]">
                            Editar
                          </button>

                          <div slot="modal-content" class="modal-content bg-white p-4 px-6 pt-0">
                            <div class="sm:flex">
                  
                              <div class="w-full mt-3 text-center sm:mt-0 sm:text-left">
                                <div class="flex">
                                  <div class="w-full grid gap-x-4 gap-y-4">
                                    
                                    <div class="sm:col-span-1">
                                      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                                      <div class="mt-2">
                                        <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                                          <input value={'****************'} type="password" name="password" id="password" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">                        
                                        </div>
                                      </div>
                                    </div>
                  
                                    <div class="sm:col-span-1">
                                      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                                      <div class="mt-2">
                                        <div class="flex cursor-default align-it-center ring-1 ring-inset ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#000]">
                                          <input value={'****************'} type="password" name="password" id="password" class="cursor-default block flex-1 border-0 bg-transparent py-3 pl-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">                        
                                        </div>
                                      </div>
                                    </div>
                            
                                  </div>
                                </div>
                              </div>
                  
                            </div>
                          </div>
                        </Modal>
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div> -->

              <div class="border-b border-black pb-12">
                <h2 class="text-base uppercase font-semibold leading-7 text-gray-900">Información de envío</h2>
                <p class="mt-1 text-sm leading-5 text-gray-600 text-pretty">
                  Añade una dirección principal en la que recibirás tus pedidos
                </p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nombre y apellidos</label>
                    <div class="mt-2">
                      <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#000] sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-3">
                    <label for="country" class="block text-sm font-medium leading-6 text-gray-900">País</label>
                    <div class="mt-2">
                      <select id="country" name="country" autocomplete="country-name" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black focus:ring-2 focus:ring-inset focus:ring-[#000] sm:max-w-xs sm:text-sm sm:leading-6">
                        <option>España</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Dirección</label>
                    <div class="mt-2">
                      <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#000] sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-2 sm:col-start-1">
                    <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Ciudad</label>
                    <div class="mt-2">
                      <input type="text" name="city" id="city" autocomplete="address-level2" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#000] sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-2">
                    <label for="region" class="block text-sm font-medium leading-6 text-gray-900">Provincia</label>
                    <div class="mt-2">
                      <input type="text" name="region" id="region" autocomplete="address-level1" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#000] sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-2">
                    <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Código postal</label>
                    <div class="mt-2">
                      <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full border-0 py-3 text-gray-900 ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#000] sm:text-sm sm:leading-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
              <button type="submit" class="bg-black px-3 py-3 text-sm font-semibold text-white hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
    .container {
      gap: 30px;
      flex-direction: column;
    }
  
    .my-account-content {
      color: #000;
      font-size: 0.9em;
      width: 100%;
      margin-block: 4rem;

      @media(max-width: 550px) {
          margin-block: 3rem;
      }
    }

    .my-account-panel {
      padding: 2.5rem;
      outline: 1px solid;

      @media(max-width: 550px) {
        padding: 0;
        outline: none;
      }
    }

    .my-account-panel h2 {
      font-size: 1.25em;
      font-weight: 600;
    }

    select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0.75rem;
    }

    input {
      outline: none;
    }

    select {
      outline: none;
    }
</style>
  