---
import CartDrawer from "../components/ui/CartDrawer.svelte";
---

<div class="layout layout--aside-cart">
    <div class="layout-content">
        <slot/>
    </div>

    <slot name="drawer" />
   
</div>